<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <script src="/static/js/main.js"></script>
    <script src="/static/js/add_tasks.js"></script>
    {{if .WithWs}}
    <script src="/static/js/websocket.js"></script>
    {{end}}
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="new-tasks" id="newTasksSection">
            <h2>New Tasks</h2>
            <form id="taskForm">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Duration (ms)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="taskTableBody">
                        <!-- New tasks will be added here -->
                        <tr>
                            <td colspan="2">
                                <button type="button" id="addTask">Add Task</button>
                            </td>
                            <td>
                                <button type="submit">Submit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    
        <div class="tasks-container">
            <!-- Active Tasks Section -->
            <div class="tasks-list" id="activeTasksSection">
                <h2>Active Tasks</h2>
                <ul id="activeTasks"></ul>
            </div>
    
            <!-- Planned Tasks (Queue) Section -->
            <div class="tasks-list" id="plannedTasksSection">
                <h2>Planned Tasks (Queue)</h2>
                <ul id="plannedTasks"></ul>
            </div>
        </div>
    <div class="placeholder"></div>
    </div>
</body>
</html>